@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.logo {
  color: #fff;
  font-size: 2em;
  user-select: none;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: .5s; 
  padding: 6px 15px;
}
.navigation a:hover,
.navigation a.active {
  color: #333;
}
.navigation a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  z-index: -1;
  transform: scale(0);
  transition: .5s;
  opacity: 0;
}
.navigation a:hover span,
.navigation a.active span {
  transform: scale(1);
  opacity: 1;
}
.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 123vh;
  background: url('background.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#text {
  position: absolute;
  font-size: 5em;
  color: #1b283a;
  text-shadow: 2px 4px 5px #f9f9f9;
}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.parallax img#gate-left {
  position: fixed;
  transform: translateX(-282px);
}
.parallax img#gate-right {
  position: fixed;
  transform: translateX(305px);
}
.sec {
  position: relative;
  background-color: #020910;
  padding: 30px 100px;
}
.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}
.sec p {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
}